#Start General Optimisation
<FilesMatch "\.(gif|png|jpg|jpeg|ico|pdf|js|htm|html|txt|css|php)$">
	Header set Cache-Control "max-age=72576000, public, must-revalidate"
</FilesMatch>
<IfModule mod_deflate.c>
    AddOutputFilter DEFLATE js css
    AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html 
</IfModule>
<IfModule mod_headers.c>
  <FilesMatch "\.(js|css|xml|gz|php)$">
    Header append Vary: Accept-Encoding
  </FilesMatch>
</IfModule>
#End General Optimisation
ErrorDocument 404 /index.html